body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding: 0;

  background: center no-repeat url("../img/lesson.jpg");
  background-size: cover;
  background-position: fixed;

  margin: 0;
}
header {
  border-bottom: 1px solid;
}
.container {
  max-width: 1320px;
  margin-left: auto;
  margin-right: auto;
}
.whited {
  background-color: rgba(255, 255, 255, 0.589);
}
a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 700;
}
nav {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  /* color: red; */
}
/* ul {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 45px;
    
}
ul li {
    vertical-align: center;
    width: 250px;
} */
.logo {
  margin-left: 20px;
}
.phone {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 20px;
  margin-left: auto;
}
.links {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
  /* grid-template-columns: repeat(auto-fit, 100px); */
  /* margin: auto; */
  gap: 10px;
}
.links div {
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
}
a:hover {
  color: red;
  text-transform: lowercase;
}
h1,
h2 {
  text-align: center;
}
p {
  text-align: center;
  font-size: 20px;
}
.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  color: white;
  margin-left: 100px;
  margin-right: 100px;
}
.links a {
  display: block;
}
.product-item {
  border: white solid 1px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.849);
}
.product-item p {
  padding: 5px;
}
.product-item:hover {
  color: red;
}
footer {
  /* position: absolute;
    left: 0;
    bottom: 0; */
  width: 100%;
  background-color: rgba(0, 0, 0, 0.774);
  color: white;
  margin: 0;
  margin-top: 20px;
  padding: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
}
#vk_groups {
  margin-right: 50px;
}
.footer-contain {
  margin-left: 50px;
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.footer-contain div:not(:last-child) {
  margin-right: 20px;
}
.adress p {
  text-align: right;
}
.video-guitar {
  display: flex;
}
.video-guitar iframe {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
}
.map img {
  max-height: 400px;
  max-width: auto;
}

blockquote {
  display: flex;
  border: solid 1px black;
  border-radius: 20px;
  background-color: rgba(247, 215, 147, 0.808);
  max-width: 1000px;
  margin: auto;
  margin-bottom: 30px;
  padding: 20px;
}

blockquote p {
  margin-right: 50px;
  font-style: italic;
  font-size: medium;
}
blockquote img {
  border-radius: 50%;
}
.author {
  margin: auto;
  display: flex;
  flex-direction: column;
}
.author cite {
  text-align: center;
  font-style: normal;
  font-weight: 600;
}
.slideshow {
  width: 100%;
  height: 500px;
  position: relative;
  overflow: hidden;
  background: #000;
  margin: 20px 0;
}
.slideshow-item {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  animation: slideanim 40s infinite;
  pointer-events: none;
}
.slideshow-item:nth-child(1),
.slideshow-item:nth-child(1) img {
  animation-delay: 0;
}
.slideshow-item:nth-child(2),
.slideshow-item:nth-child(2) img {
  animation-delay: 10s;
}
.slideshow-item:nth-child(3),
.slideshow-item:nth-child(3) img {
  animation-delay: 20s;
}
.slideshow-item:nth-child(4),
.slideshow-item:nth-child(4) img {
  animation-delay: 30s;
}
.slideshow-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation: zoom 40s infinite;
}
.slideshow-item-text {
  max-width: 50%;
  position: absolute;
  bottom: 20px;
  left: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 20px 30px;
  font-family: Verdana, sans-serif;
}
.slideshow-item-text h5 {
  font-size: 22px;
  margin: 0 0 10px 0;
  color: #bfe2ff;
}
.slideshow-item-text p {
  font-size: 15px;
  margin-bottom: 10px;
}
@keyframes slideanim {
  12.5% {
    opacity: 1;
    pointer-events: auto;
  }
  25% {
    opacity: 1;
    pointer-events: auto;
  }
  37.5% {
    opacity: 0;
  }
}
@keyframes zoom {
  50% {
    transform: scale(1.3);
  }
}
@media screen and (max-width: 1100px) {
  .slideshow-item-text {
    max-width: 75%;
  }
}
@media screen and (max-width: 456px) {
  .slideshow-item-text {
    bottom: 0;
    left: 0;
    max-width: 100%;
  }
  .slideshow-item-text h5 {
    font-size: 18px;
  }
  .slideshow-item-text p {
    font-size: 13px;
  }
}
